/*.icon-home-house-streamline {
  margin-top: 0.5em;
  font-size: 2em;
  display: inline;
  padding: 0.2em 0 0 1.5em;
  float: right;
}*/

.icon-email-mail-streamline, a [href^="mailto:"]:hover:after  {
  background: url(elishahansen@gmail.com) no-repeat right top;
  content: " > " attr(title);
  margin-top: 0.5em;
  font-size: 2em;
  display: inline;
  padding: 0.2em 0 0 1.5em;
  float: right;

}


.pic {
  text-align: left;
  padding-right: 15px;

}

.hero {
  /*position: relative;*/
  color: #72716d;
  font-family: 'Raleway', sans-serif;
  text-align: right;
  float: right;
  padding: 10px 15px;
  height: 868px;
  padding-top: 10em;
  /*padding-left: 15px;*/
  padding-right: 5em;
  background-color: #EDFEFD;


}

.hero-container {
  background-color: #EDFEFD;
}

.job-title {
  font-size: 2.5em;
  color: #c4cdce;

}

.name {
  font-size: 3em;
  text-shadow: -1px -1px $alt-gray-color;
  line-height: 1.7em;
  letter-spacing: .02em;

}

ul {
  float: right;
}

a [href^="mailto:"] {
     background: url(elishahansen@gmail.com) no-repeat right top;
}
