.hero-pic {
  background-image: url("http://s1297.photobucket.com/user/elishalahansen/media/sunset_zpsfiyzynpd.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-height: 100%;
  max-width: 100%;

}
