/*this works, and the lessontree screenshot is fixed again*/
.hero-pic {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url("http://i1297.photobucket.com/albums/ag36/elishalahansen/working_zpsunwtfcf7.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100%;
    max-width:100%;
    min-width: 100%;
    min-height: 100%;
    background: absolute;
}

/*.lessonTree-screenshot {
   position: absolute;
   width: 25%;
}*/

.vimeoVideo-screenshot {
  position: absolute;
  width: 35%;
  /*the mt throws img off in safari, but w/o it it's thrown off in chrome & ff*/
  margin-top: 10%;
  margin-left: 4%;
  margin-bottom: 9em;
  box-shadow: 1px 1px 2px 2px #72716f;
}

.ourWords-screenshot {
  /*position: absolute;*/
  width: 35%;
  margin-top: 10%;
  margin-left: 4%;
  margin-bottom: -37%;
  box-shadow: 1px 1px 2px 2px #72716f;

}


.NCMA-pic {
  position: absolute;
  width: 25%;
  /*margin-top: 10%;*/
  margin-left: 4%;
  margin-bottom: 10%;
  margin-right: auto;
  box-shadow: 1px 1px 2px 2px #72716f;
}
