/*this works, and the lessontree screenshot is fixed again*/
.hero-pic {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url("http://i1297.photobucket.com/albums/ag36/elishalahansen/working_zpsunwtfcf7.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100%;
    max-width:100%;
    min-width: 100%;
    min-height: 100%;
    background: absolute;
}


/*this causes another image behind it, other times no imgage is behind it, but it doesn't cover the background. it also breaks the lessontree screen shot*/
/*.bkgnd-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("http://i1297.photobucket.com/albums/ag36/elishalahansen/working_zpsunwtfcf7.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100%;
    max-width:100%;
    min-width: 100%;
    min-height: 100%;*/
    /*margin-top: 4.2em;*/
/*}*/

/*this actually worked on phone but still not perfect*/
/*@media only screen and (max-device-width: 480px) {
 td[class="headercell"] {
   background-image: url(images/working-325.JPG);
   width: 325px !important;
   height: 115px !important;
 }
 td[cladd="headercell"] img {
   display: none;
 }
 }*/


/*.my-img {*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    /*background-image: url("http://i1297.photobucket.com/albums/ag36/elishalahansen/working_zpsunwtfcf7.jpg") no-repeat 50% 50% fixed;*/
    /*background-size: contain;
    border: 2px solid blue;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*height: 100%;*/

/*}*/


/*.lessonTree-screenshot {
   position: absolute;
   width: 25%;
}*/

.vimeoVideo-screenshot {
  position: absolute;
  width: 35%;
  margin-top: 9em;
  margin-left: 4%;
  box-shadow: 1px 1px 2px 2px #72716f;
}

.ourWords-screenshot {
  position: absolute;
  width: 35%;
  margin-top: 9em;
  margin-left: 4%;
  margin-bottom: 9em;
  box-shadow: 1px 1px 2px 2px #72716f;

}

.NCMA-pic {
  position: absolute;
  width: 25%;
  margin-top: 6em;
  margin-left: 4%;
  margin-bottom: 9em;
  margin-right: auto;
  box-shadow: 1px 1px 2px 2px #72716f;
}
