@media screen and (min-width: 0px) and (max-width: 640px) {
  nav {
    -webkit-flex-flow: column;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: flex;
  width: 100%;
  /*margin: 0 auto;*/
  flex: 0 1 auto;
  justify-content: flex-end;
  background-color: #E8DACA;
  position: fixed;
  opacity: .5;
}

nav a {
  display: flex;
  color: #72716f;
  flex: 0 1 auto;
  justify-content: flex-end;
}

.icon-book-read-streamline {
  text-decoration: none;
  margin-top: 0.5em;
  font-size: 2.7em;
  float: right;
  color: #72716f;
  margin-right: 1.3em;
}

.icon-book-read-streamline:hover {
  color: #F82D39;
}

.icon-email-mail-streamline  {
  text-decoration: none;
  margin-top: 0.3em;
  font-size: 3.3em;
  color: #72716f;
  margin-right: 1.3em;
}

.icon-email-mail-streamline:hover {
  color: #F82D39;
}

.grid-hero-container-img {
  /*flex: 0 0 100%;*/
  /*display: flex;
  flex: 0 0 100%;
  /*margin-left: 3em;*/
  /*width: 100%;*/
  /*background: url("http://i1297.photobucket.com/albums/ag36/elishalahansen/working_zpsunwtfcf7.jpg") fixed;*/
  /*background-size: cover;*/
}

.bkgnd-img {
  /*position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;*/
  /*width: 200%:
  height: 200%;
  background: url("http://i1297.photobucket.com/albums/ag36/elishalahansen/working_zpsunwtfcf7.jpg") no-repeat center center fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;*/
}

.grid-hero {
  /*display: flex;*/
  font-family: 'Raleway', sans-serif;
  text-align: right;
  padding: 10px 15px;
  height: 650px;
  padding-top: 13em;
  padding-right: 5em;
  background-color: #edfefd;

}

.grid-dets {
  flex: 1;
}

.grid-job-title {
  font-size: 2.5em;
  color: #c4cdce;
  text-align: right;
  /*position: absolute;*/
}

.grid-name {
  font-size: 3em;
  text-shadow: -3px -3px white;
  line-height: 1.7em;
  letter-spacing: .02em;
  color: #72716d;
  text-align: right;

}

.icon-angle-down {
  text-decoration: none;
  font-size: 3.7em;
  color: #72716f;
  padding: .9em;
  margin-top: 2.7em;
  position: fixed;
}

.icon-angle-down:hover {
  color: #F82D39;
}

.flex-container {
  display: -webkit-flex;
	display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column;
  flex-wrap: column;
  -webkit-align-content: center;
  align-content: center;
  background-color: white;
  padding: 1.3em;

}


.flex-item-1 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: 'Lora', serif;
  border-radius: 5px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 1.7em;
  line-height: 1.4em;
  font-size: 19px;
  color: #595856;
  text-align: left;
  box-shadow: 1px 1px 1px 1px #c4cdce;
  background-color: white;
}

.flex-item-2 {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 2.2em;
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.4em;
  font-size: 19px;
  color:  #595856;
  text-align: left;
  box-shadow: 1px 1px 1px 1px  #c4cdce;

}

.flex-item-3 {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 2.2em;
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.4em;
  font-size: 19px;
  color:  #595856;
  text-align: left;
  box-shadow: 1px 1px 1px 1px  #c4cdce;

}

.flex-item-4 {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 2.2em;
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.4em;
  font-size: 19px;
  color:  #595856;
  text-align: left;
  box-shadow: 1px 1px 1px 1px #c4cdce;

}

footer {
  disply: flex;
  flex-direction: column;
  min-height: 7.9em;
  background-color: #edfefd;
  text-align: center;

}

.ig-b- {
  display: inline-block;
  margin-top: 5.5em;
  font-size: 2.7em;

}
.ig-b- img {
  visibility: hidden;
}
.ig-b-:hover {
  background-position: 0 -60px;
}
.ig-b-:active {
  background-position: 0 -120px;
}
.ig-b-32 {
  width: 32px;
  height: 32px;
  background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-32 {
  background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px;
} }

.icon-linkedin-square {
  display: inline-block;
  margin-top: 5.5em;
  text-decoration: none;
  font-size: 2.3em;
  padding: 0.2em 0 0 1.5em;
  color: #72716f;
}




/*
class="icon-fontawesome-webfont"
class="icon-instagram"
