
.grid-hero-container {
  disply: flex;
  flex: 1;
}

.grid-hero {
  disply: flex;
  font-family: 'Raleway', sans-serif;
  text-align: right;
  padding: 10px 15px;
  height: 700px;
  padding-top: 10em;
  padding-right: 5em;
  background-color: #edfefd;

}

.grid-dets {
  flex: 1;
}

.grid-job-title {
  font-size: 2.5em;
  color: #c4cdce;
  text-align: right;

}

.grid-name {
  font-size: 3em;
  text-shadow: -3px -3px white;
  line-height: 1.7em;
  letter-spacing: .02em;
  color: #72716d;
  text-align: right;

}

.icon-email-mail-streamline  {
  text-decoration: none;
  margin-top: 0.5em;
  font-size: 2.7em;
  display: inline;
  padding: 0.2em 0 0 1.5em;
  float: right;
  color: #72716f;

}

.icon-book-read-streamline {
  text-decoration: none;
  margin-top: 0.5em;
  font-size: 2.7em;
  /*display: inline;*/
  padding: 0.2em 0 0 1.5em;
  float: right;
  color: #72716f;
}

.icon-angle-down {
  text-align: center;
  font-size: 2.7em;
  margin-top: 5em;
  color: #72716f;

}



.pic {
  padding-right: 75px;
  max-width: 100%;
  height: auto;

}


.flex-container {
  display: -webkit-flex;
	display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-wrap: row wrap;
  -webkit-align-content: center;
  align-content: center;
  background-color: #dae4e5;
  padding: 2.8em;

}


.flex-item-1 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  width: 511px;
  height: 289px;
  background-color: #edfefd;
  font-family: 'Lora', serif;
  border-radius: 5px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 2.2em;
  line-height: 1.4em;
  font-size: 19px;
  color: #595856;
  text-align: left;
  box-shadow: -1px -1px 1px 1px  white;

}

.flex-item-2 {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 311px;
  height: 289px;
  background-color: #d2f7f4;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 2.2em;
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.4em;
  font-size: 19px;
  color:  #595856;
  text-align: left;
  box-shadow: -1px -1px 1px 1px  white;

}

.flex-item-3 {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 411px;
  height: 289px;
  background-color: #bbe8e4;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  margin: 2.2em;
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.4em;
  font-size: 19px;
  color:  #595856;
  text-align: left;
  box-shadow: -1px -1px 1px 1px  white;

}

.flex-item-4 {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 511px;
  height: 289px;
  background-color: #9ee2de;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  /*margin: 2.2em;*/
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.4em;
  font-size: 19px;
  color:  #595856;
  text-align: left;
  box-shadow: -1px -1px 1px 1px white;

}

/*
class="icon-fontawesome-webfont"
class="icon-instagram"
class="icon-linkedin-square"*/
