/*for 980px or less*/
@media screen and (max-width: 980px) {
  .pg-container {
    width: 95%;
  }
  .pic {
    width: 30%;
  }
  .hero {
    width: 60%;
    padding: 3% 4%;
  }
  .about-container {
    width: auto;
  }
}

/*for 700px or less*/
@media screen and (max-width: 700px) {
  .pic {
    width: auto;
    float: none;
  }
  .hero {
    width: auto;
    float: none;
  }
  .about-container {
    width: auto;
    float: none;
  }
}
 /*for 480px or less*/
 @media screen and (max-width: 480px) {
   .html {
     -webkit-text-size-adjust: none;
   }
   .pic {
     height: 25%;
   }
   .h2 h1 {
     font-size: 24px;
   }
}




/*.icon-home-house-streamline {
  margin-top: 0.5em;
  font-size: 2em;
  display: inline;
  padding: 0.2em 0 0 1.5em;
  float: right;
}*/

.pic {
  text-align: left;
  padding-right: 15px;
}

.hero {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  float: right;
  padding: 10px 15px;
  height: 700px;
  width: 855px;
  padding-top: 10em;
  padding-left: 15px;
  padding-right: 5em;
  background-color: #edfefd;
  position: auto;

}

.job-title {
  font-size: 2.5em;
  color: #c4cdce;

}

.name {
  font-size: 3em;
  text-shadow: -1px -1px white;
  line-height: 1.7em;
  letter-spacing: .02em;
  color: #72716d;

}

.icon-email-mail-streamline  {
  text-decoration: none;
  margin-top: 0.5em;
  font-size: 2.7em;
  display: inline;
  /*padding: 0.2em 0 0 1.5em;*/
  float: right;
  color: #72716f;

}

.about-container {
  background-color: #F4484E;
  position: relative;
  color: #edfefd;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  position: relative;
  top: 868px;
}
